doctype html
html
  

  head
  
   meta#fb-app-id(property="fb:app_id" content="443153576210730")
   meta#fb-site-name(property='og:site_name', content='Social-share')
   meta(prefix='og: http://ogp.me/ns#' property='og:description' content="Equip yourself with the knowledge to build, test, deploy, and scale Node.js web applications in production on Amazon Web Services.")
   meta(prefix='og: http://ogp.me/ns#' property='og:title' content=title1)
   meta(prefix='og: http://ogp.me/ns#' property='og:type' content=website)
   meta(prefix='og: http://ogp.me/ns#' property='og:url' content=url)
   meta(prefix='og: http://ogp.me/ns#' property='og:image' content=image)
   script(src="/js/linkedin.js")
   //script(type='text/javascript' src='https://platform.linkedin.com/in.js').
        api_key:811y8puxuj9s3y
        scope:r_basicprofile,r_emailaddress,w_share
        authorize:true
       
        
   link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
   link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
   link(rel='stylesheet', href='/stylesheets/style.css')
   title Nodejs file upload To facebok
  
   
  body
  // block content
   - var config = {
   -     a: title1,
   -     b: image,
   -     c: url
   - }
   script(type='IN/Login')
   input(type='button' onclick=`liAuth(${JSON.stringify({title:title1,image:image,url:url})})` value='share')
  script(type='IN/Share' data-url='https://socialshare-js23.herokuapp.com/socialshare/' + id + '/?' ).
  script(src="/js/fb.js")
  script(src='https://code.jquery.com/jquery-3.3.1.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js') 
    //-  meta(name='viewport', content='width=device-width, initial-scale=1.0')
